/*---------------------------------------------------Student Registration Form-------------------------------------------------------------------*/

div{
	width:150px;
	height:30px;
	float:left;
}